* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #CBCED6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Box {
    padding: 20px;
    background-color: #363941;
    border-radius: 16px;
}
.ans-area {
    padding: 5px;
    min-height: 100px;
}

.line {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-top: 5px;
}
button {
    color: white;
    font-size: 24px;
    height: 60px;
    width: 65px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 18px;
    box-shadow: 0px 0px 5px #000000;
    cursor: pointer;
    background-color: #2E313B;
    transition-duration: 0.5s;
}
.op {
    background-color: #DE7512;
    border: none;
}
.top {
    background-color: #535763;
}
button:hover {
    background-color: #ffffff;
    color: black;
}
#display {
    height: 50px;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: right;
    font-size: 18px;
}